@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 10px;
    }
 
/* Track */
::-webkit-scrollbar-track {
    
    background:white;
   
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #0dc3f6;
    border-radius:5px;
    
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #0b92e0;
    cursor: pointer;
}
