/* ProgressBar.css */
.progress-bar {
  position: relative;
  overflow: hidden;
}

.progress-bar::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(-135deg, rgba(255, 255, 255, 0.3) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.3) 75%, transparent 75%, transparent);
  background-size: 30px 30px;
  animation: slide-background 3s linear infinite reverse;
}

@keyframes slide-background {
  from {
    background-position: 100% 0;
  }
  to {
    background-position: 120% 0;
  }
}
